{% extends 'base.html.twig' %}

{% block title %}
	Juegos de mesa
{% endblock %}

{% block body %}
	{% block header %}
		{{parent()}}
	{% endblock %}

	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="page-content">
					{% if app.user!=null %}
						{% if "ROLE_ADMIN" in app.user.roles %}
						<center>
							<div class="main-button">
								<a href='/evento/create'>Crear evento</a>
							</div>
						</center>
						{% endif %}
					{% endif %}

					<!-- ***** Gaming Library Start ***** -->
					<div class="gaming-library profile-library">
						<div class="col-lg-12">
							<div class="heading-section">
								<h4>
									<em>Eventos</em>
									a los que me han invitado</h4>
							</div>
							{% for evento in eventos %}
							<div class="item">
								<center>
								<ul>
									<li>
										<h4>Nombre</h4>
										<span>{{evento.nombre}}</span>
									</li>
									<li>
										<h4>Descripción</h4>
										<span>{{evento.Descripcion}}</span>
									</li>
									<li>
										<h4>Fecha de inicio</h4>
										<span>{{evento.fechaevento|date('d-m-y')}}</span>
									</li>
									<li>
										<div class="main-button">
											<a href="#">Asistiré</a>
										</div>
									</li>
									<li>
										<div class="main-button">
											<a href="#">No asistiré</a>
										</div>
									</li>
								</ul>
								</center>
							</div>
							{% endfor %}
							
						</div>
					</div>


				{% endblock %}

